<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IM-FIT Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/assets/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="logo">                
                <a href="/">
                    <img src="../static/assets/img/logo.png" width="150">
                </a>
            </div>
            <button class="btn-primary change-lang">
                ENG / Change Lang
            </button>
            <div class="row indexbtn">
                <div class="col-sm-6 indexbtn">
                    <a class="blue-button btn-primary btn-block" href="scan">
                        Scan
                        <div class="speaker">🔊</div>
                    </a>
                </div>
               <div class="col-sm-6 indexbtn">
                    <a class="blue-button btn-primary btn-block" href="dailyTasks">
                        Daily Tasks
                        <div class="speaker">🔊</div>
                    </a>
                </div>
            </div>
            <div class="row indexbtn">
                <div class="col-sm-6 indexbtn">
                    <a class="blue-button btn-primary btn-block" href="leaderboard">
                        Leaderboard
                        <div class="speaker">🔊</div>
                    </a>
                </div>
                <div class="col-sm-6 indexbtn">
                    <a class="blue-button btn-primary btn-block" href="myRewards">
                        My Rewards
                        <div class="speaker">🔊</div>
                    </a>
                </div>
            </div>   
            <div class="streak">
                <div class="fire">🔥</div>
                Day xx <!-- this is a placeholder -->
            </div> 
            </div> 
        </div>
    </div>      
</div>

</body>
</html>
