<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
    {{my_title | default("IM-FIT")}}
    {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/assets/css/custom.css">
    <link href="https://fonts.googleapis.com/css2?family=More+Sugar:wght@400;700&display=swap" rel="stylesheet">
    {% endblock %}

    <!-- This is for the TTS for the speaker buttons -->
    <script> 
        function speakText(text) {
            event.preventDefault();
            event.stopPropagation();
            if ('speechSynthesis' in window) {
                var utterance = new SpeechSynthesisUtterance(text);
                window.speechSynthesis.speak(utterance);
            } else {
                alert('Your browser does not support speech synthesis.');
            }
        }
    </script>

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="logo">                
                    <a href="/">
                        <img src="../static/assets/img/logo.png" width="150">
                    </a>
                </div>
                <div id="change-lang">
                    <button class="button-82-pushable" role="button">
                        <span class="button-82-shadow"></span>
                        <span class="button-82-edge"></span>
                        <span class="button-82-front text" style="height: 60px;">
                            ENG / 中文
                        </span>
                    </button>
                </div>
            </div>
            {% block content %}
            <div class="row">
                <div class="col-xl-6 col-md-12 col-sm-12 p-2">
                    <!-- Added the action here so that the whole button is pressable to redirect. Added the TTS on the speaker Icon which just plays the audio -->
                    <a class="button-82-pushable btn-block" href="instructions">
                        <button class="button-82-pushable btn-block" role ="button">
                            <span class="button-82-shadow"></span>
                            <span class="button-82-edge"></span>
                            <span class="button-82-front text">
                                Scan
                                <div class="speaker" onclick="speakText('Scan')">🔊</div>
                            </span>
                        </button>
                    </a>
                </div>
                <div class="col-xl-6 col-md-12 col-sm-12 p-2">
                    <!-- Added the action here so that the whole button is pressable to redirect. Added the TTS on the speaker Icon which just plays the audio -->
                    <a class="button-82-pushable btn-block" href="dailyTasks">
                        <button class="button-82-pushable btn-block" role="button">
                            <span class="button-82-shadow"></span>
                            <span class="button-82-edge"></span>
                            <span class="button-82-front text">
                                    Daily Tasks
                                    <div class="speaker" onclick="speakText('Daily Tasks')">🔊</div>
                            </span>
                        </button>
                    </a>
                </div>
                <div class="col-xl-6 col-md-12 col-sm-12 p-2">
                    <!-- Added the action here so that the whole button is pressable to redirect. Added the TTS on the speaker Icon which just plays the audio -->
                    <a class="button-82-pushable btn-block" href="leaderboard">
                        <button class="button-82-pushable btn-block" role="button">
                            <span class="button-82-shadow"></span>
                            <span class="button-82-edge"></span>
                            <span class="button-82-front text">
                                    Leaderboard
                                    <div class="speaker" onclick="speakText('Leaderboard')">🔊</div>
                            </span>
                        </button>
                    </a>
                </div>
                <div class="col-xl-6 col-md-12 col-sm-12 p-2">
                <!-- Added the action here so that the whole button is pressable to redirect. Added the TTS on the speaker Icon which just plays the audio -->
                    <a class="button-82-pushable btn-block" href="myRewards">
                        <button class="button-82-pushable btn-block" role="button">
                            <span class="button-82-shadow"></span>
                            <span class="button-82-edge"></span>
                            <span class="button-82-front text">
                                    My Rewards
                                    <div class="speaker" onclick="speakText('My Rewards')">🔊</div>
                            </span>
                        </button>
                    </a>
                </div>
            </div>  
            <div class="streak">
                <div class="fire">🔥</div>
                Day {{my_days}} <!-- this is a placeholder -->
            </div>              
            {% endblock %}
            </div> 
        </div>
    </div>      
</div>

</body>
</html>
