{% extends "index.html" %}

{% block title %}
    {{my_title | default("My Rewards")}}
{% endblock %}
{% block lang %}
<div id="change-lang">
    <button class="button-82-pushable" role="button" onclick="changeLanguage()">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text" data-translate="lang-switch">
            ENG / 中文
        </span>
    </button>
</div>
{% endblock %}
{% block content %}
<div>
Sorry you currently don't have any rewards
</div>
<div>
    <button id="returnButton" class="rtrhome-button btn btn-primary">Return to Home</button>
    <script>
        document.getElementById('returnButton').addEventListener('click', function() {
            window.location.href = '/'; // goes back to home
        });
    </script>
</div>
{% endblock %}