{% extends "index.html" %}

{% block title %}
    {{my_title | default("My Rewards")}}
{% endblock %}

{% block lang %}
<div id="change-lang">
    <button class="button-82-pushable" role="button" onclick="changeLanguage()">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text" data-translate="lang-switch">
            ENG / 中文
        </span>
    </button>
</div>
{% endblock %}

{% block content %}

<div class="prize-container text-center">
    <button id="spin"></button>
<span class="arrow"></span>
<div class="wapper">
    <div class="one">one</div>
    <div class="two">two</div>
    <div class="three">three</div>
    <div class="four">four</div>
    <div class="five">five</div>
    <div class="six">six</div>
    <div class="seven">seven</div>
    <div class="eight">eight</div>
</div>
    <h3>Select Your Prize</h3>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/assets/img/prize1.jpg" alt="Prize 1" class="img-fluid">
            <p>Cream Crackers</p>
            <a class="button-82-pushable" href="#" onclick="alert('Claiming Cream Crackers!')">
                <button class="button-82-pushable" role="button">
                    <span class="button-82-shadow"></span>
                    <span class="button-82-edge"></span>
                    <span class="button-82-front text">Claim Prize</span>
                </button>
            </a>
        </div>
        <div class="col-md-4">
            <img src="../static/assets/img/prize2.jpg" alt="Prize 2" class="img-fluid">
            <p>$5 NTUC Voucher</p>
            <a class="button-82-pushable" href="#" onclick="alert('Claiming $5 NTUC Vouchers!')">
                <button class="button-82-pushable" role="button">
                    <span class="button-82-shadow"></span>
                    <span class="button-82-edge"></span>
                    <span class="button-82-front text">Claim Prize</span>
                </button>
            </a>
        </div>
        <div class="col-md-4">
            <img src="../static/assets/img/prize3.jpg" alt="Prize 3" class="img-fluid">
            <p>$20 NTUC Voucher</p>
            <a class="button-82-pushable" href="#" onclick="alert('Claiming $20 NTUC Vouchers!')">
                <button class="button-82-pushable" role="button">
                    <span class="button-82-shadow"></span>
                    <span class="button-82-edge"></span>
                    <span class="button-82-front text">Claim Prize</span>
                </button>
            </a>
        </div>
    </div>
</div>
<div class="text-center mt-4"></div>
    <button id="returnButton" class="rtrhome-button btn btn-primary">Return to Home</button>
</div>
<script>
    document.getElementById('returnButton').addEventListener('click', function() {
        window.location.href = '/'; // goes back to home
    });
</script>


{% endblock %}
